#lookup-method-container {
    margin-left: auto;
    margin-right: calc(1vw + 1vh);
}

#lookup-method-div.selectorButton {
    width: calc(10vw + 10vh);

    height: calc(2.5vw + 2.5vh);
    padding: 0 !important;

    display: flex;
    justify-content: center;
    align-items: center;
}

#lookup-method-div.selectorButton span {
    margin: 0;
    font-size: calc(1.2vw + 1.2vh);
}

#lookup-method {
    width: calc(10vw + 10vh);
    font-size: calc(1.2vw + 1.2vh);
}

ul#lookup-method li {
    height: calc(2.5vw + 2.5vh);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

div#searchbar {
    background-color: #0f0f0f;
    width: 100vw;
    height: calc(5vw + 5vh);
    display: flex;
    align-items: center;
    justify-content: center;
}

input#input, textarea#multiline-input {
    height: calc(3.3vw + 3.3vh);
    width: calc(20vw + 20vh);
    border: none;
    border-radius: calc(1vw + 1vh);
    outline: none;
    text-align: center;
    font-size: calc(2.2vw + 2.2vh);
    padding-bottom: calc(.2vw + .2vh);
    background-color: #e0e0e0;
    appearance: none;
    -moz-appearance: textfield;

    font-family: BreeSerif;
}

textarea#multiline-input {
    height: calc(15vw + 15vh);
    width: calc(30vw + 30vh);
    border: none;
    border-radius: calc(1vw + 1vh);
    outline: none;
    font-family: monospace;
    font-size: calc(2.2vw + 2.2vh);
    background-color: #e0e0e0;
    appearance: none;
    -moz-appearance: textfield;
    text-align: left;
    padding: calc(0.5vw + 0.5vh);

    resize: none;

    display: none;
}

div#searchbar.expanded {
    height: calc(17vw + 17vh);
}

input#input::-moz-selection, input#input::selection {
    background-color: #BFBFBF;
}

input#input::-webkit-outer-spin-button, input#input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div#results {
    height: calc(91vh - 9vw);
}

.bus {
    background-color: #FF69B4;
}

label {
    width: 100vw;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    display: block;
}

label span {
    font-size: calc(4vw + 4vh);
    color: #121212;
}

input[type="checkbox"] {
    display: none;
}

input.busHide:not(checked) + .bus-data {
    display: none;
}

input.busHide:checked + .bus-data {
    display: flex;
    flex-direction: column;
}

div.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(2vw + 2vh);
    background-color: #171717;
}

div.data:nth-child(even) {
    background-color: #1e1e1e;
}

div.data > span:nth-child(1) {
    margin-left: calc(1vw + 1vh);
    max-width: 50vw;
    line-height: calc(3.7vw + 3.7vh);
}

div.data > span:nth-child(2) {
    margin-right: calc(1vw + 1vh);
    font-size: calc(1.5vw + 1.5vh);
    max-width: 50vw;
    text-align: right;
    line-height: calc(3vw + 3vh);
}

div.deregInfo {
    display: flex;
    flex-direction: column;
    text-align: right;

    margin-right: calc(1vw + 1vh);
    font-size: calc(1.5vw + 1.5vh);
    max-width: 50vw;
    text-align: right;

    margin-top: calc(-0.4vw - 0.4vh);
}

span.deregDate {
    display: inline-block;
    font-size: calc((100vw + 100vh) * 0.018) !important;
    margin-right: 0 !important;
}

span.timeToDereg {
    display: inline-block;
    font-size: calc((100vw + 100vh) * 0.01) !important;
    margin-right: 0 !important;
    margin-top: calc(-0.4vw - 0.4vh);
}

.sbst {
    background-color: #b845be;
}

div.bus:nth-child(even) .sbst {
    background-color: #9d3ba2;
}

.smrt {
    background-color: #c63d3d;
}

div.bus:nth-child(even) .smrt {
    background-color: #b43535;
}

.tts {
    background-color: #4ebe45;
}

div.bus:nth-child(even) .tts {
    background-color: #43a93b;
}

.gas {
    background-color: #d7832c;
}

div.bus:nth-child(even) .gas {
    background-color: #c47625;
}

.tibs {
    background-color: #d4ce24;
}

div.bus:nth-child(even) .tibs {
    background-color: #c3bd23;
}

.sbs {
    background-color: #76b7e9;
}

div.bus:nth-child(even) .sbs {
    background-color: #4291cd;
}

.lta {
    background-color: #e0e0e0;
}

div.bus:nth-child(even) .lta {
    background-color: #c9c9c9;
}

.css {
    background-color: #ccac78;
}

div.bus:nth-child(even) .css {
    background-color: #b49755;
}

.sentosa {
    background-color: #ea8814;
}

div.bus:nth-child(even) .sentosa {
    background-color: #bd6e10;
}
