mixin section(name, field)
    - let services = data[field];

    if services.length !== 0
        - let joined = services.join(', ');
        - let mods = '';
        if differences[field].additions.length !== 0
            - mods += 'A: ' + differences[field].additions.join(', ')
        if differences[field].subtractions.length !== 0
            - mods += 'S: ' + differences[field].subtractions.join(', ')
        h4=name
        if mods !== ''
            code(style='font-weight: bold')=mods
            br
        code=joined

html
    body
        +section('B10M Deployments', 'mkivDeployments')
        +section('VSO Deployments', 'vsoDeployments')
        +section('KJDEP Bendies', 'kjdepBendy')
        +section('Woodlands Bendies', 'woodlandsBendy')
        
        +section('SLBP Downsize', 'slbpDownsize')
        +section('BNDEP Downsize', 'bndepDownsize')
        +section('BBDEP Downsize', 'bbdepDownsize')
        +section('KJDEP Downsize', 'kjdepDownsize')
        +section('HGDEP Downsize', 'hgdepDownsize')
        +section('BRBP Downsize', 'brbpDownsize')
        +section('AMDEP Downsize', 'amdepDownsize')
        
        +section('SEDEP Bendy', 'sedepBendy')
        
        +section('WLDEP Upsize', 'wldepUpsize')
        +section('KJDEP Upsize', 'kjdepUpsize')
        +section('BUDEP Upsize', 'budepUpsize')
        +section('Express Upsize', 'expUpsize')
        +section('MANDY', 'mandy')
        +section('Habit/Volgren', 'nwabBendy')
        +section('UPDEP Upsize', 'updepUpsize')
        
        +section('AMDEP Upsize', 'amdepUpsize')
        +section('HGDEP Upsize', 'hgdepUpsize')
