extends layout

block head
    title TransportSG

block css
    link(rel='stylesheet' href='/static/css/index.css')

block header
    span#title TransportSG

block content
    div.wrap
        a(href='/bookmarks').feature
            img(src='/static/images/home/bookmarks.svg' alt='Bookmarks')
            span Bookmarks
        a(href='/nearby/bus/stops').feature
            img(src='/static/images/home/nearby_bus_stops.svg' alt='Nearby Bus Stops')
            span Nearby Bus Stops
        a(href='/timings/mrt').feature
            img(src='/static/images/home/mrt_timings.svg' alt='MRT Timings')
            span MRT Timings
        a(href='/search').feature
            img(src='/static/images/home/general_search.svg' alt='General Search')
            span General Search
        a(href='/lookup').feature
            img(src='/static/images/home/bus_lookup.svg' alt='Bus Lookup')
            span Bus Lookup
        a(href='/everything').feature
            img(src='/static/images/home/everything_else.svg' alt='All Features')
            span Everything Else
