extends layout

block head
    title TransportSG - General Search

block css
    link(rel='stylesheet' href='/static/css/search.css')
    link(rel='stylesheet' href='/static/css/loading.css')

block scripts
    script(src='/static/scripts/search.js' async)

block header
    img#page-icon(src='/static/images/magnifying-glass.svg')
    span#title General Search

block content
    div#searchbar
        input(aria-label='Search Query')#input
    div#loading(style='display: none')
        div#loadingBar
    div#results
