extends ../layout

block head
    title TransportSG - Fish Candies
    
block head
    title Fish Candies

block css
    link(rel='stylesheet' href='/static/css/search.css')
    link(rel='stylesheet' href='/static/css/bus/timings.css')
    link(rel='stylesheet' href='/static/css/bus/timings-list.css')
    link(rel='stylesheet' href='/static/css/bus/candies.css')
    style.
        a#home {margin-left: auto !important;}

block scripts
    script(src='/static/scripts/bus/candies.js' async)
    script(src='/static/scripts/unfolding-busstop.js' async)

block header
    img#page-icon(src='/static/images/magnifying-glass.svg')
    span#title='Fish Candies'

block content
    div#searchbar
        input#input
    div#loading(style='display: none')
        div#loadingBar
    div#results
