div#serviceSummary
    -var svcs = Object.keys(services)
    -var flattened = svcs.reduce((a, b) => a.concat(b), []);
    -var deduped = flattened.filter((element, index, array) => array.indexOf(element) === index);

    span Service Summary:
    span=' ' + deduped.sort().join(', ')
    
div#busStops
    - let destinations = busStops;
    for busStopCode in Object.keys(buses)
        -let busStopData = busStops[busStopCode];
        -let busTimings = buses[busStopCode];
        

        div.busStopContainer
            label(for='checkbox-' + busStopCode).busStopHideContainer
                span.busStopName=busStopData.busStopName
            input(type='checkbox' id='checkbox-' + busStopCode bus-stop-code=busStopCode).busStopHideCheckbox
            div.busStopContents
                - let doNotPredict = true;
                include bus-timings
