#content {
    height: calc(96vh - 4vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(35vw + 35vh);
    height: calc(22vw + 22vh);

    background: #303030;

    border-radius: calc(1vw + 1vh);
}

div.part {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    margin-top: calc(1.3vw + 1.3vh);
    width: calc(10vw + 10vh);
    height: calc(2vw + 2vh + (0.26vw + 0.26vh) * 2);

    border: none;
    border-radius: calc(0.5vw + 0.5vh);

    background-color: #e0e0e0;

    font-family: BreeSerif;
    font-size: calc(1.1vw + 1.1vh);

    color: #282828;
}
