if !!busStop
    h1='Info for stop ' + busStop.busStopCode

    h2='Bus Stop Name: ' + busStop.name
    h2='Bus Stop Lat/Long: ' + busStop.latitude + '/' + busStop.longitude
else
    h1='Bus stop not found!'
