extends layout

block content
    h1 Home!
    h2 Links
    ul
      li
        a(href='/old/bus/timings') Bus Timings
      li
        a(href='/old/bus/stops') Lookup Bus Stop
      li
        a(href='/old/bus/stops/locate') Nearby Bus Stops
