html
    head
        script(src='/old/static/helper.js')
        link(href='/old/static/layout.css' rel='stylesheet')
        block head
    body
        div.invisible
            block invisible
        block content
